@charset "UTF-8";
/* El SELECTOR apunta al elemento HTML que queremos estilizar o darle un estilo
La PROPIEDAD el aspecto que queresmos cambiar
El VALOR es la configuracion de esa propiedad */
/* Unidades de medida| PX, EM, REM y % ( % para ancho y alto */
/* h1 {

    background-color: chocolate;
    text-align: center;
    font-size: 10cap;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0d47a1;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
header .Logos {
  color: red;
  margin: 10px;
  font-size: 30px;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
}
header .nav-items li {
  display: inline;
}
header .BarraNav {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}
header .BarraNav:hover {
  color: yellow;
}

body .container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-template-rows: 1fr 1fr 1fr 1fr; /* Tres filas iguales */
  align-items: center;
  gap: 20px;
  padding: 20px;
}
body .text-section {
  grid-column: 1/2; /* Ocupa la primera columna */
  font-family: "Calibri", sans-serif;
  color: #333;
}
body #DiseñaTu {
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 40px;
  margin-bottom: 20px; /* Espacio debajo */
  margin-right: 100px;
}

#DiseñamosTu {
  font-family: "Calibri", sans-serif;
  color: grey;
  font-size: 18px;
  margin-bottom: 20px; /* Espacio debajo */
  margin-right: 120px;
}

button {
  background-color: #0d47a1; /* Azul */
  color: white; /* Texto blanco */
  font-size: 30px;
  font-family: "Calibri", sans-serif;
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de mano al pasar */
  transition: background-color 0.3s ease; /* Suavidad en hover */
  background-color: #083a87; /* Azul más oscuro al pasar */
  margin-top: 0px; /* Espacio arriba */
  width: 300px;
}

.image-section {
  grid-column: 2/3; /* Ocupa la segunda columna */
  text-align: right;
}
.image-section .TipoPc {
  max-width: 50%; /* Asegura que la imagen sea responsiva */
  height: auto;
}

.SeccionServicios {
  background-color: #0d47a1;
  width: 200%; /* Ancho del área */
  height: 500px; /* Alto del área */
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-template-rows: repeat(4, 1fr); /* Tres filas iguales */
}
.SeccionServicios p {
  font-family: "Calibri", sans-serif;
  color: white;
  font-size: 17px;
  -ms-flex-align: baseline;
  margin-top: 2px;
  margin-bottom: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.SeccionServicios li {
  color: white;
  font-family: "Calibri", sans-serif;
  margin-bottom: 20px;
  grid-column: 1/2;
  grid-row: 3/4;
}

h1 .Transformamos {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "Calibri", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-size: 35px;
  margin-bottom: 5px; /* Espacio debajo */
  margin-right: 50px;
}

.LinkServicios {
  color: white;
  font-family: "Calibri", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column: 1/2;
  grid-row: 4/5;
}

.CelularFuturista {
  max-width: 100%;
  height: 500px;
  background-color: #0d47a1;
}

footer {
  background-color: #0d47a1;
  margin-top: 30px;
}

/*---------------------------APARTADO DE SERVICIOS-------------------------------------------*/
body div .ColumnasFilas {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  margin-top: 100px;
  margin: 10px;
}
body div section .DiseñoLogo {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #ffffff;
}
body div section h1 {
  margin-bottom: 15px;
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 35px;
}
body div section p {
  font-family: "Calibri", sans-serif;
  font-size: 17px;
  text-align: justify;
}
body section .GestionRedes {
  grid-template-columns: 2/3;
  grid-template-rows: 1/2;
  margin-top: 100px;
  margin: 10px;
  margin-left: 20px;
}
body section h1 {
  margin-bottom: 15px;
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 35px;
  margin-left: 20px;
}
body section p {
  font-family: "Calibri", sans-serif;
  font-size: 17px;
  text-align: justify;
  margin-left: 20px;
}
body section .DiseñoBaner {
  grid-template-columns: 3/4;
  grid-template-rows: 1/2;
  margin-top: 100px;
  margin: 10px;
  margin-left: 20px;
}
body section h1 {
  margin-bottom: 15px;
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 35px;
  margin-left: 20px;
}
body section p {
  font-family: "Calibri", sans-serif;
  font-size: 17px;
  text-align: justify;
  margin-left: 20px;
}

/*-------------------------------------------------------------------------------------------*/
/*----------Apartado dentro de los servicios----------*/
/*-----Logos-----*/
body .ColumnasFilas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
body .ColumnasFilas .DiseñoLogo {
  grid-column: 1/2;
  grid-row: 1/2;
}
body .ColumnasFilas .DiseñoLogo h2 {
  margin-bottom: 15px;
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 20px;
}
body .ColumnasFilas .DiseñoLogo p {
  font-family: "Calibri", sans-serif;
  font-size: 17px;
  text-align: justify;
  margin-left: 20px;
}
body .ColumnasFilas .DiseñoLogo #VerPackLogo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0d47a1;
}
body .ColumnasFilas .GestionRedes {
  grid-column: 2/3;
  grid-row: 1/2;
}
body .ColumnasFilas .GestionRedes h1 {
  margin-bottom: 15px;
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 35px;
  margin-left: 20px;
}
body .ColumnasFilas .GestionRedes p {
  font-family: "Calibri", sans-serif;
  font-size: 17px;
  text-align: justify;
  margin-left: 20px;
}
body .ColumnasFilas .DiseñoBaner {
  grid-column: 3/4;
  grid-row: 1/2;
}
body .ColumnasFilas .DiseñoBaner h2 {
  margin-bottom: 15px;
  font-family: "Calibri", sans-serif;
  color: #0d47a1;
  font-size: 35px;
  margin-left: 20px;
}
body .ColumnasFilas .DiseñoBaner p {
  font-family: "Calibri", sans-serif;
  font-size: 17px;
  text-align: justify;
  margin-left: 20px;
}
body .ColumnasFilas .DiseñoBaner #VerPackBanner {
  text-decoration: none;
  color: #0d47a1;
}

/*-------------------------------BODY LOGOS--------------------------------------*/
body .BodyLogos main section .Logo1 h2 {
  font-size: 30px;
  color: #0d47a1;
  margin-bottom: 15px;
}
body .BodyLogos main section .Logo1 p {
  font-size: 15px;
  color: black;
  margin-top: 5px;
}
body .BodyLogos main section .Logo1 .ImagenLogo1 {
  text-decoration: none;
  font-size: 10px;
  color: #0d47a1;
  margin-top: 5px;
}
body .BodyLogos main section .Logo2 h2 {
  font-size: 30px;
  color: #0d47a1;
  margin-bottom: 15px;
}
body .BodyLogos main section .Logo2 p {
  font-size: 15px;
  color: black;
  margin-top: 5px;
}
body .BodyLogos main section .Logo2 .ImagenLogo2 {
  text-decoration: none;
  font-size: 10px;
  color: #0d47a1;
  margin-top: 5px;
}
body .BodyLogos main section .Logo3 h2 {
  font-size: 30px;
  color: #0d47a1;
  margin-bottom: 15px;
}
body .BodyLogos main section .Logo3 p {
  font-size: 15px;
  color: black;
  margin-top: 5px;
}
body .BodyLogos main section .Logo3 .ImagenLogo3 {
  text-decoration: none;
  font-size: 10px;
  color: #0d47a1;
  margin-top: 5px;
}

/*-------------------------------------------------------------------------------------------*/
.PackLogos {
  color: black;
}

.Contactos {
  font-size: 25px;
  margin: 10px;
}

.Telefono {
  font-size: 20px;
  margin: 5px;
  color: black;
}

.LOGO {
  width: 150px;
  height: auto;
}

/*----------Apartado Responsive----------*/
/* Diseño Responsive */
/* Dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-items {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .container {
    flex-direction: column;
    text-align: center;
  }
  .image-section img {
    width: 100%;
    height: auto;
  }
}
/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image-section img {
    max-width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
